{% extends "base.html" %}

{% block content %}

<h3>Company Registration</h3>

<form method="POST">

<div class="mb-3">
<label>Company Name</label>
<input type="text" name="company_name" class="form-control" required>
</div>

<div class="mb-3">
<label>Email</label>
<input type="email" name="email" class="form-control" required>
</div>

<div class="mb-3">
<label>Website</label>
<input type="text" name="website" class="form-control">
</div>

<div class="mb-3">
<label>Password</label>
<input type="password" name="password" class="form-control" required>
</div>

<button class="btn btn-warning">Register</button>

</form>

{% endblock %}